# Flask Configuration
FLASK_ENV=production
FLASK_APP=main.py
SECRET_KEY=super_secret_key_123

# Server Configuration
HOST=0.0.0.0
PORT=5012

# Database
DATABASE_PATH=./database.db
UPLOAD_FOLDER=./uploads
MAX_CONTENT_LENGTH=16777216

# Debug (установить False для production)
DEBUG=False
